@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #0D1117;
  --color-secondary: #1E3A8A; */

  --color-primary: #050A0A;   /* Dark charcoal teal */
  --color-secondary: #0E7C66; /* Muted deep teal */
  
}

.bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  scroll-behavior: smooth;
}



